<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="ion-padding"></div>
  <ion-avatar class="ion-margin-vertical" style="width: 120px; height: 120px; margin: auto;">
    <img src="/assets/logo.png" />
  </ion-avatar>
  <div class="ion-padding"></div>
  <div class="ion-padding">
    <ion-button color="primary" expand="block" shape="round" routerLink="/parking/list" routerLinkActive="router-link-active" >
      Continuar como invitado
    </ion-button>
    <ion-button color="primary" expand="block" shape="round">
      <ion-icon slot="start" name="logo-google"></ion-icon> Cuenta UAM
    </ion-button>
  </div>
</ion-content>
